extends layout

block content
	div.container
		div.content
			ul.unstyled
				li
					p Regan Campbell
				li
					a(href='mailto:regan.leah@gmail.com') regan.leah@gmail.com
				li
					a(href='http://unboxable.com') Visit my website