!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		// link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
	body
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container
					a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a(href='/').brand Welcome
					div.nav-collapse
						ul.nav
							li.home
								a(href='/') Home
							li.about
								a(href='/about') About
							li.contact
								a(href='/contact') Contact
		block content
		div.container!= body
			footer
				p &copy; Me 2013
	script.
		var pageTitle = '#{ title }';
	script(src='/javascripts/menu.js')
